<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="container">
    <form name="myForm" method="GET" [formGroup]="form" (ngSubmit)='getDetails(myForm)'> 
      <div class="col col-lg-9" style="background:#406688; border-radius: 5px; color: white; box-shadow: 5px 5px 5px grey;">
        <h2 class="text-center" style="padding-bottom: 2%;"> Weather Search</h2>
        <div style="padding: 2%;">
          <div class="form-group required row">
            <label for="street" class="col-sm-3 control-label" style="padding-left: 0">Street</label>
            <input type="text" class="form-control col-sm-6" placeholder="Enter Street Name" formControlName="street" style="border: 1px solid black;" required>
            <div class="col-sm-5 offset-md-3">
              <div   *ngIf="form.controls['street'].invalid && (form.controls['street'].dirty || form.controls['street'].touched)">
                <div *ngIf="form.controls['street'].errors.required" style="color: red;">
                    Please enter a street.
                </div>
              </div>
           </div>
          </div>
             
          <div class="form-group required row">
            <label for="city" class="col-form-label control-label col-sm-3" style="padding-left: 0">City</label>
          <input matInput type="text" class="form-control col-sm-6" formControlName = "city" placeholder="Enter City Name" style="border: 1px solid black;" [matAutocomplete]="auto" required>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <div class="col-sm-5 offset-md-3">
                  <div *ngIf="form.controls['city'].invalid && (form.controls['city'].dirty || form.controls['city'].touched)">
                    <div *ngIf="form.controls['city'].errors.required" style="color: red;">
                      Please enter a city.
                    </div>
                  </div>
                </div>
             
          </div>
                
          <div class="form-group required row"> 
            <label for="state" class="col-sm-3 col-form-label control-label" style="padding-left: 0">State</label>
              <select class="form-control col-sm-5" formControlName = "state" (change)="filterChanged($event.target.value)">
                <option>Select State</option>
                <option value = "AL">Alabama</option>
                <option value = "AK">Alaska</option>
                <option value = "AZ">Arizona</option>
                <option value = "AR">Arkansas</option>
                <option value = "CA">California</option>
                <option value = "CO">Colorado</option>
                <option value = "CT">Connecticut</option>
                <option value = "DE">Delaware</option>
                <option value = "DC">District Of Columbia</option>
                <option value = "FL">Florida</option>
                <option value = "GA">Georgia</option>
                <option value = "HI">Hawaii</option>
                <option value = "ID">Idaho</option>
                <option value = "IL">Illinois</option>
                <option value = "IN">Indiana</option>
                <option value = "IA">Iowa</option>
                <option value = "KS">Kansas</option>
                <option value = "KY">Kentucky</option>
                <option value = "LA">Louisiana</option>
                <option value = "ME">Maine</option>
                <option value = "MD">Maryland</option>
                <option value = "MA">Massachusetts</option>
                <option value = "MI">Michigan</option>
                <option value = "MN">Minnesota</option>
                <option value = "MS">Mississippi</option>
                <option value = "MO">Missouri</option>
                <option value = "MT">Montana</option>
                <option value = "NE">Nebraska</option>
                <option value = "NV">Nevada</option>
                <option value = "NH">New Hampshire</option>
                <option value = "NJ">New Jersey</option>
                <option value = "NM">New Mexico</option>
                <option value = "NY">New York</option>
                <option value = "NC">North Carolina</option>
                <option value = "ND">North Dakota</option>
                <option value = "OH">Ohio</option>
                <option value = "OK">Oklahoma</option>
                <option value = "OR">Oregon</option>
                <option value = "PA">Pennsylvania</option>
                <option value = "RI">Rhode Island</option>
                <option value = "SC">South Carolina</option>
                <option value = "SD">South Dakota</option>
                <option value = "TN">Tennessee</option>
                <option value = "TX">Texas</option>s
                <option value = "UT">Utah</option>
                <option value = "VT">Vermont</option>
                <option value = "VA">Virginia</option>
                <option value = "WA">Washington</option>
                <option value = "WV">West Virginia</option>
                <option value = "WI">Wisconsin</option>
                <option value = "WY">Wyoming</option>
              </select>
          </div>

          <div class="form-group row col-sm-6" style="padding: 0;">
            <input type="checkbox" style="margin-right: 2%; padding-left: 0" id="chkbox" name="chkbox" (click)="ischeckBoxChecked($event)">
            <label for = "chkbox" style="margin-top: -1%;"> Current Location</label>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <button type="submit" name = "submit" [disabled]="!form.valid && !this.chkbox" name = "submit" style="border: 1px solid black; margin-right: 2%;"><i class="material-icons" style="float: left;">search</i>Search</button>
            
              <button type="reset" value="clear"  style="border: 1px solid black;" (click) = "resetData()"><i class="material-icons" style="float: left;">clear_all</i>Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form> 
  </div>
</body>
</html>
